.user {
    margin: 0 auto;
    width: 50%;
}

.user__group {
    display: flex;
    justify-content: space-between;
    /* background-color: yellow; */
}

.user__group-icon {
    display: flex;
    align-items: center;
    margin: 30px;
}

.user__icon {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ddd;
}

.user__name {
    display: inline-block;
    margin-left: 50px;
    font-weight: bold;
}

.user__group-myProfile {
    display: flex;
    align-items: center;
}

.button__myProfile {
    margin: 0 auto;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    color: #fa5656;
    font-weight: bold;
    border: 1.5px solid #fa5656;
    border-radius: 10px;
    width: 200px;
    height: 40px;
}

.tab-switch {
    display: flex;
    flex-wrap: wrap;
    margin-inline: auto;
    gap: 0 5px;
}

/* ラジオボタン非表示 */
.tab-switch input {
    display: none;
}

.tab-boder {
    width: 15%;
}

/* タブボタン */
.tab-switch label {
    padding: 0.7em 1em;
    cursor: pointer;
    order: -1;
    text-align: center;
}

/* コンテンツ非表示 */
.tab-content {
    display: none;
    width: 100%;
    padding: 1.5em 0;
    border-top: 2px solid #ddd;
}

/* 選択されたタブ＋コンテンツを表示 */
.tab-switch input:checked+label {
    color: red;
}

.tab-switch input:checked+label+.tab-content {
    display: block;
}

/* 商品関連の表示 */
.content__flex {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
}

/* .content__item {
    margin: 20px;
} */

.item__card {
    display: inline-block;
    margin: 15px;
    text-decoration: none;
    color: #000;
}

.item__box {
    display: block;
    margin: 0px;
    width: 200px;
    height: 200px;
    background-color: #ddd;
    text-align: center;
}

.item__name {
    display: inline;
    margin-top: 0px;
}

.item_sold {
    display: inline;
    padding: 0px 5px;
    margin-left: 5px;
    text-align: center;
    text-decoration: none;
    color: #fa5656;
    font-size: 14px;
    font-weight: bold;
    border: 1.5px solid #fa5656;
    border-radius: 5px;
    width: 100px;
    height: 10px;
}

@media screen and (max-width: 768px) {
    .user {
        margin: 0 auto;
        width: 80%;
    }

    .tab-boder {
        width: 20%;
    }

    .content__flex {
        display: flex;
        flex-wrap: wrap;
        margin-left: 20px;
    }

    .item__card {
        display: inline-block;
        margin: 20px;
        text-decoration: none;
        color: #000;
    }
}