.myProfile__content {
    margin: 0 auto;
    padding: 10px 15px;
    max-width: 1230px;
}

.myProfile__heading {
    margin: 0 auto;
    width: 50%;
}

.myProfile__title {
    text-align: center;
}

.user__group {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;
}

.user__icon {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ddd;
}

.button__image__select {
    display: inline-block;
    margin-left: 20px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    color: #fa5656;
    font-weight: bold;
    border: 1.5px solid #fa5656;
    border-radius: 10px;
    width: 150px;
    height: 40px;
}

.form {
    margin: 0 auto;
    width: 50%;
}

.form__group-title {
    text-align: left;
}

.form__label-item {
    font-weight: bold;
    margin-bottom: 0;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__input-text {
    padding: 10px;
    width: 100%;
    height: 40px;
    border: 2px solid #ddd;
    border-radius: 3px;
    appearance: none;
}

.form__button {
    margin-top: 60px;
    text-align: center;
}

.form__button-submit {
    padding: 10px;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #fa5656;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .form {
        margin: 0 auto;
        width: 75%;
    }
}