.purchase__form {
    display: flex;
}

.purchase__info {
    width: 70%;
    padding: 30px;
}

.purchase__item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #000;
    padding-bottom: 30px;
}

.item__box {
    display: block;
    width: 130px;
    height: 130px;
    background-color: #ddd;
    text-align: center;
}

.item__info {
    margin-left: 30px;
}

.item__name {
    font-size: 24px;
}

.item__price {
    font-size: 24px;
}

.purchase__payment-method {
    border-bottom: 1px solid #000;
    padding: 10px 30px 30px;
}

.payment-method__select {
    margin-left: 30px;
    width: 200px;
}

.form__error {
    margin-left: 30px;
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.payment-method__title {
    font-weight: bold;
}

.purchase__address {
    display: flex;
    border-bottom: 1px solid #000;
    padding: 20px 0px;
}

.address__info {
    width: 80%;
    padding-left: 30px;
}

.address__title {
    font-weight: bold;
    margin-top: 0px;
}

.address__text {
    margin: 0px 30px;
}

.address__link {
    text-align: center;
    width: 20%;
}

.purchase__confilm {
    width: 30%;
    padding: 30px;
}

.purchase__confilm-price,
.purchase__confilm-payment_method {
    display: flex;
    justify-content: space-between;
    border: 1px solid #000;
    padding: 20px;
}

.purchase__confilm-text {
    margin: 0 auto;
}

.button-submit {
    padding: 5px;
    margin: 40px 0px 0px;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 3px;
    text-decoration: none;
    background: #fa5656;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.text-danger {
    color: #ff0000;
    text-align: left;
}

@media screen and (max-width: 768px) {
    .purchase__info {
        width: 60%;
        padding: 30px;
    }

    .purchase__confilm {
        width: 40%;
        padding: 30px;
    }
}