.verify-email__content {
    margin: 150px auto;
    text-align: center;
    /* background-color: yellow; */
}

.verify-email__heading {
    text-align: center;
}

.verify-email__text {
    margin: 0px;
    font-weight: bold;
}

.form__button {
    margin-top: 50px;
}

.form__button-submit {
    display: inline-block;
    margin-bottom: 50px;
    padding: 10px;
    width: 200px;
    background-color: #ddd;
    color: #000;
    text-decoration: none;
    border: 1px solid #000;
    border-radius: 3px;
    cursor: pointer;
}

.form__link-submit {
    border: none;
    background: none;
    color: blue;
    cursor: pointer;
}